
<template name="group">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<h5>{{ name }}</h5>
			<div>
				{{#each contacts}}
					{{> contact }}
				{{/each}}
			</div>
		</div>
</template>

<template name="newGroupForm">
	<h5>Create Custom Group</h5>
	{{#autoForm id="newGroupForm" collection="Groups"}}
		{{> afQuickField name="type" value="custom" type="hidden"}}
	  {{> afQuickField name="name"}}
	  <div class="form-group">
	    <button type="submit" class="btn btn-primary">Submit</button>
	    <button type="reset" class="btn btn-default">Reset Form</button>
	  </div>
	{{/autoForm}}

</template>
