<template name="appLayout">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> _header}}

	<!-- <div class="navbar">
	{{> _tabsNav }}
	</div> -->

  <div class="container-fluid">
    <div class="main-content">
      {{> yield}}
    </div>

    {{> yield region="modal"}}
  </div>

  {{> _footer}}
</template>

