<template name="crumbsStepThree">
crumbs step three
</template>

<template name="actionsCreate">
<div class="profile">
	<div class="row">
    <!-- <h5> -->
      <div class="title col-md-6 col-lg-6 col-sm-6">
        <h3>Design Your ICEPlan</h3>
      </div>
      <div class="crumbs-wrapper">
        <div class="col-lg-2 col-sm-2 col-md-2 crumb-word">
          <p>Step Three</p>
          <p class="sub-text">Create Actions</p>
        </div>
        <div class="crumb col-md-4 col-sm-4 col-lg-4 col-xs-4">
          {{> crumbsStepOne }}
        </div>
      </div>
    <!-- </h5> -->
  </div>


	<div class="profile-container group" style="margin-bottom: 20px;">
	  <div class="col-lg-3 col-md-3 col-sm-3 profile-wrap">
	    <figure>
	      <img src="/images/icons/me.png">
	      <figcaption>{{ profile.fullName }}</figcaption>
	    </figure>
	  </div>
	  <div class="col-lg-8 col-md-8 col-sm-8" style="padding-bottom: 30px">
	  	{{> existingContactsWrapper }} <!-- right column -->
	  </div>

	</div>

	{{> chooseProfile }}

	<div class="row next-step-row">
	  <button class="btn next-step">I'm finished! Take me to my dashboard</button>
	</div>

	</div>
</template>

<!-- right col -->
<template name="existingContactsWrapper">
	<div class="row">
		<h5>Who should we contact in case a crisis happens to {{ profile.fullName }}?</h5>
		<p>Select one or more <strong>Contacts</strong> below.</p>
	</div>
	{{> contactsList }}
</template>

<template name="contactsList"> <!-- loop through each -->
	{{> contactsRow }}
	<div class="row">
	{{#if currContacts.length}}
		<p>We will contact <strong>{{ showFirstNames currContacts }}</strong> to verify that they accept responsibility. <a href="#">Learn more.</a>
		</p>
		<p>How should we contact <strong>{{ showFirstNames currContacts }}</strong>?</p>
	{{/if}}
	</div>

	{{> yield region="notifications" }}
	{{> addNewAction }}

</template>

<template name="contactCard">
	<li class="card contact-card profile-card" id="{{this._id}}">
		<img src="{{imgUrl}}">
		{{ this.fullName }}
	</li>
</template>

<!-- actions -->

<template name="addNewAction">
<div class="row actions-new-wrapper">
	<p>I want this to happen...</p>

	{{#autoForm id="actionStepForm" type="insert" collection="ActionSteps" }}
	  {{> afQuickField name="targets" type="hidden" value=currTargets }}
	  <div class="group wrap-form-half">
	  	{{> afQuickField name="type" firstOption=false class="inline-form"}}
	  	{{> afQuickField name="label" placeholder="Action Name" class="inline-form"}}
	  	{{> afQuickField name="profile_id" type="hidden" value=profile }}
	  </div>
	  <div id="wrap-text">
	  	{{> afQuickField name="content" label="" placeholder="Type your message here..." }}
	  	<small>(160 characters max)</small>
	  </div>
	  <!-- <div id="wrap-safeboxes" class="hidden">
	  	{{> afQuickField name="safeboxIds" label="select safeboxes"}}
	  </div> -->
		<div class="form-group group button-group" style="width: 100%; text-align: right; margin-top: 10px;">
	  	<button type="submit" class="btn">Save Plan</button>
	  </div>

	{{/autoForm}}
</div>
</template>

<template name="actionSuccess">
	<div class="notifications">successfully added!</div>
</template>

<template name="actionError">
	<div class="notifications">soops, something went wrong</div>
</template>

<!-- recommended -->
<template name="chooseProfile">
	<div class="container-fluid recommended-panel">
		<h5>Recommended</h5>
		<p>We highly recommend designing plans for all of your Profiles as well.</p>

			<ul class="group cards">
				{{#each profiles }}
					{{> profileShow }}
				{{/each}}
			</ul>

	</div>
</template>

<template name="profileShow">
	<li class="profile-card card" id="{{this._id}}">
			<img src="{{imgUrl}}">
			{{ this.fullName }}
	</li>
</template>

<!-- <template>
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new-action-modal">
    Create New Action
  </button>
</template> -->

<!--
<template name="ActionStepForm">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalLabel">New Action Step</h4>
</div>
	<div class="modal-body">
	  {{#autoForm id="actionStepForm" type="insert" collection="ActionSteps" }}
	    {{> afQuickField name="label" placeholder="EX: Notify Family"}}
	    {{> afQuickField name="targets" }}
	    {{> afQuickField name="type" noselect=true }}
	    <div id="wrap-text">
	    	{{> afQuickField name="content" label="text message" placeholder="EX: Sorry, looks like I'll be late..." }}
	    </div>
	    <div id="wrap-safeboxes" class="hidden">
	    	{{> afQuickField name="safeboxIds" label="select safeboxes"}}
	    </div>
	    <div class="form-group">
	      <button type="submit" class="btn btn-primary">Submit</button>
	      <button type="reset" class="btn btn-default">Reset Form</button>
	    </div>
	  {{/autoForm}}
	</div>
</template> -->
