/* ==== RESET ==== */

/** vendor fix**/
.btn-toolbar {
	margin-left: 0 !important;
}

.panel-heading {
	display: none;
}

figcaption {
	font-size: 2.5rem;
	font-weight: 700;
}

ul, li {
	list-style: none;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

.modal-content {
	padding: 10px;
	text-align: center;
}

button {
	appearance: none;
	outline: none;
}

form .form-control {
	border-radius: 0 !important;
	box-shadow: none !important;
}

/* ==== LAYOUT ==== */

body: {
	background: ##e7f5e7;
}

.main-content {
	margin: 0 auto;
	width: 90%;
	background: white;
}

footer {
	margin-top: 50px;
}

.hidden {
	display: none;
}

.container img {
	max-height: 200px;
	max-width: auto;
}

button.btn {
	background-color: #7ac144;
	color: white;
}

button.btn:hover {
	color: #7ac144;
	background-color: white;
	border: 1px solid #7ac144;
}

/** Profile and Contacts */

ul.cards {
	padding-left: 0;
}

.active {
	background: yellow;
}

li.card {
	float: left;
	margin: 10px 10px 10px 0;
	background: white;
	border: 1px solid #fdc958;
	text-align: center;
	border-radius: 7px;
	width: 140px;
	height: 110px;
	cursor: pointer;
}

li.card img {
	display: block;
	max-height: 50px;
	margin: 0 auto;
	margin-top: 17px;
}

li.card:hover, li.card.active {
	background: #fffcf4; /** light orange **/
}


/** safeboxes */
.safebox {
	padding: 20px;
	margin: 20px 0;
}

.safebox.locked {
	background-color: rgba(0, 0, 0, 0.3);
}

.safebox.unlocked {
	background-color: green;
}

.contacts-canvas {
	background: rgba(0,0,0,0.1);
	padding: 20px;
	margin: 20px 0;
}

/** userProfile form */
form#userProfile .form-group:first-child{
	float: left;
	width: 45%;
	margin-right: 15px;
}

form#userProfile .form-group:nth-child(2){
	float: left;
	width: 45%;
}

/** actions */
.wrap-form-half .form-group:first-child {
	float: left;
	width: 35%;
	margin-right: 20px;
}

.wrap-form-half .form-group:nth-child(2) {
	float: left;
	width: 62%;
}

#actionStepForm #wrap-text {
	margin-bottom: -5px;
}

#actionStepForm .form-group {
	margin-bottom: 0;
}

#actionStepForm label {
	display: none;
}

#actionStepForm button {
	float: right;
	width: 30%;
}

/** === actions modal  */

#activate-iceplan:hover {
	cursor: pointer;
}

div.action-row {
	margin-top: 10px;
}

button.action-row {
	min-width: 80%;
}
