/* ==== RESET ==== */

/** vendor fix**/
.btn-toolbar {
	margin-left: 0 !important;
}

body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	font-size: 11px;
	font-color: #7e927e;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', 'Open Sans', sans-serif;
	color: #7ac144 !important;
	margin-top: 0;
}

label {
	font-weight: 300 !important;
	color: #7e927e !important;
}

.panel-heading {
	display: none;
}

figcaption {
	font-size: 1.5rem;
	font-weight: 700;
	color: #224821;
}

ul, li {
	list-style: none;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

.modal-content {
	padding: 10px;
	text-align: center;
}

button {
	appearance: none;
	outline: none;
}

form .form-control {
	border-radius: 0 !important;
	box-shadow: none !important;
	font-size: 10px;
}

.button-group {
	float: right !important;
}

.btn-reset {
	color: #ccc !important;
	background-color: white !important;
	border: 1px solid #ccc;
}

.btn.btn-reset:hover {
	color: white !important;
	background-color: #ccc !important;
	border: 1px solid #ccc !important;
}

/* ==== LAYOUT ==== */

body {
	background-color: #e7f5e7 !important;
	color: #7e927e;
}

.main-content {
	margin: 0 auto;
	width: 90%;
	background: white;
	margin-bottom: 40px;
}

.form-content {
	background: #fffcf4;
	padding-top: 20px;
}

footer {
	margin-top: 50px;
}

.hidden {
	display: none;
}

.container img {
	max-height: 200px;
	max-width: auto;
}

button.btn {
	background-color: #7ac144;
	color: white;
}

button.btn:hover {
	color: #7ac144;
	background-color: white;
	border: 1px solid #7ac144;
}

div.next-step-row {
	padding-right: 40px;
	padding-bottom: 20px;
}

button.next-step {
	float: right;
	padding-right: 40px;
}

.steps-row {
	margin: 0 auto;
}

.step {
	text-align: center;
	border: 1px solid #e7f5e7;
	padding: 25px 20px;
	max-width: 25%;
	display: inline-block;
}

.step img {
	max-height: 100px;
}

/** Profile and Contacts */

.profile-wrap {
	text-align: center;
	padding-top: 30px;
}

.profile-wrap img {
	max-height: 60px;
}

ul.cards {
	padding-left: 0;
}

.active {
	background: yellow;
}

li.card {
	float: left;
	margin: 10px 10px 10px 0;
	background: white;
	border: 1px solid #fdc958;
	text-align: center;
	border-radius: 7px;
	width: 140px;
	min-height: 180px;
	padding: 20px;
	cursor: pointer;
	position: relative;
}

li.card img {
	display: block;
	max-height: 50px;
	margin: 0 auto;
	margin-top: 17px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;
}

li.card button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

li.card:hover, li.card.active {
	background: #fffcf4; /** light orange **/
}

li.card.profile-card {
	min-height: 140px;
	width: 120px;
}

/** safeboxes */
.safebox {
	padding: 20px;
	margin: 20px 0;
}

.safebox.locked {
	background-color: rgba(0, 0, 0, 0.3);
}

.safebox.unlocked {
	background-color: green;
}

.contacts-canvas {
	background: rgba(0,0,0,0.1);
	padding: 20px;
	margin: 20px 0;
}

input[name="profile.notes"] {
	width: 206%;
}

div.notifications {
	background-color: #e7f5e7 !important;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

.actions-new-wrapper {
	margin-top: 15px;
}

/** userProfile form */

form#userProfile .panel {
	border: none;
	background: transparent;
}

form#actionStepForm .form-group:nth-child(odd){
	float: left;
	width: 48%;
	margin-right: 15px;
}

form#actionStepForm .form-group:nth-child(even) {
	float: left;
	width: 48%;
}

form#newProfileForm .panel, form#newContactForm .panel, #newContactProfileForm .panel {
	border: none;
	background: transparent;
}

form#userProfile .form-group:nth-child(odd){
	float: left;
	width: 48%;
	margin-right: 15px;
}

form#newContactForm .form-group:nth-child(odd), form#newProfileForm .form-group:nth-child(odd), form#newContactProfileForm .form-group:nth-child(odd) {
	float: left;
	width: 48%;
	margin-right: 15px;
}

form#userProfile .form-group:nth-child(even) {
	float: left;
	width: 48%;
}

form#newContactForm .form-group:nth-child(even), form#newProfileForm .form-group:nth-child(even), form#newContactProfileForm .form-group:nth-child(even) {
	float: left;
	width: 48%;
}

form#newContactForm .panel-body, form#newProfileForm .panel-body, form#newContactProfileForm .panel-body{
	padding: 0;
}

form#newContactForm .form-group, form#newProfileForm .form-group, form#newContactProfileForm .form-group {
	margin-bottom: 0;
}

form .form-group.relation-group {
	margin-top: -20px;
	margin-bottom: 20px;
}

/** actions */
.wrap-form-half .form-group:first-child {
	float: left;
	width: 35%;
	margin-right: 20px;
}

.wrap-form-half .form-group:nth-child(2) {
	float: left;
	width: 62%;
}

#actionStepForm #wrap-text {
	margin-bottom: -5px;
}

#actionStepForm .form-group {
	margin-bottom: 0;
}

#actionStepForm label {
	display: none;
}

#actionStepForm button {
	float: right;
	width: 30%;
}

/** === actions modal  */

#activate-iceplan:hover {
	cursor: pointer;
}

div.action-row {
	margin-top: 10px;
}

button.action-row {
	min-width: 80%;
}
