<!-- IDs - passport, social security card, drivers license with images -->

<template name="IdItem">
  <h4>{{ nameify type }}</h4>
    <li class="list-group-item">{{ name }}</li>
    <li class="list-group-item">{{ note }}</li>
    {{#each files}}
      <img src="{{this.url store='filesStore'}}" />
    {{/each}}
</template>

<template name="IdItemForm">
  <h4>{{ nameify type }}</h4>
  {{#autoForm id="IdItemForm" type="insert" collection="Items"}}
    {{> afQuickField name="category" value="ID" type="hidden"}}
    {{> afQuickField name="type" value=type type="hidden" }}
    {{> afQuickField name="name" placeholder="U.S. Passport" }}
    {{> afQuickField name="note" placeholder="(this is located in...)" }}
    {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
    <button type="submit">Submit</button>
  {{/autoForm}}
</template>

<!-- ==== Documents - Personal, Medical, Legal ==== -->

<template name="DocItemRow">
  <table class="table table-striped">
  <th>{{ docType }}</th>
    {{#each documents}}
      {{> DocItem }}
    {{/each}}
  </table>
</template>

<template name="DocItem">
  <tr>
    <td>{{ name }}</td>
    <td>{{ note }}</td>
    {{#each files}}
      <td><a href="{{ this.url store='filesStore' }}" target="_blank">Link</a></td>
    {{/each}}
  </tr>
</template>

<template name="DocItemForm">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">New Document</h4>
  </div>
  <div class="modal-body">
    {{#autoForm id="DocItemForm" type="insert" collection="Items" schema=Schema.Item }}
      {{> afQuickField name="category" value="document" type="hidden"}}
      {{> afQuickField name="type" options=docTypeOptions noselect=true}}
      {{> afQuickField name="name" placeholder="document name" }}
      {{> afQuickField name="note" placeholder="(EX: Description)" }}
      {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Reset Form</button>
      </div>
    {{/autoForm}}
  </div>
</template>


<!-- ==== Show Items ==== -->

<template name="itemsPanel">
  <h5>Items</h5>
  {{#each items}}
    {{> item}}
  {{/each}}
</template>

<template name="item">
  <tr>
    <td>{{ name }}</td>
    <td>{{ note }}</td>
    {{#with file}}
    <td><a href="{{ this.url store='filesStore' }}" target="_blank"> Link </a></td>
    {{/with}}
  </tr>
</template>

<template name="addItemsForm">
  add item
</template>
