<template name="safeboxShow">
<h1>Safebox Show</h1>
	<div class="container-fluid">
		{{ name }}

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
			<!-- add item -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-item-modal">
	        Add Item
	      </button>

	      <div class="modal fade" id="add-item-modal" role="dialog" aria-labelledby="add-item-modal" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            {{> addItemsForm }}
	          </div>
	        </div>
	      </div>

			{{> itemsPanel }}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<!-- add item -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-contact-modal">
	        Add Contacts
	      </button>

	      <div class="modal fade" id="add-contact-modal" role="dialog" aria-labelledby="add-contact-modal" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            {{> addContactsForm }}
	          </div>
	        </div>
	      </div>

				{{> contactsPanel }}
			</div>
		</div>
	</div>

</template>

<template name="contactsPanel">
	<h5>Contacts</h5>
	{{#each contacts}}
		{{> contact}}
	{{/each}}
</template>


<template name="addContactsForm">
	<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Add Contacts</h4>
  </div>
  <div class="modal-body">
  	<form data-safebox-id="{{ this._id }}">
		  <div class="form-group">
			  <label for="allowedGroups" class="control-label">
			  	Add More Groups:
			  </label>
				<select multiple="multiple" name="allowedGroups" class="form-control">
					{{#each groups}}
						<option value="{{ this._id }}">{{ this.name }}</option>
					{{/each}}	
		  	</select>
		  </div>
		  <div class="form-group">
		  	<label for="allowedContacts" class="control-label">
		  		Add More Contacts:
		  	</label>
		  	<select multiple="multiple" name="allowedContacts" class="form-control">
					{{#each contacts}}
						<option value="{{ this._id }}">{{ this.fullName }}</option>
					{{/each}}	
		  	</select>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Submit</button>
		    <button type="reset" class="btn btn-default">Reset Form</button>
		  </div>
		</form>
  </div>
</template>

<template name="itemsPanel">
	<h5>Items</h5>
	{{#each items}}
		{{> safeboxItem}}
	{{/each}}
</template>

<template name="safeboxItem">
	{{ name }}
</template>

<template name="addItemsForm">
	add item
</template>
