<template name="safeboxShow">
<h1>Safebox Show</h1>
	<div class="container-fluid">
		{{ name }}

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
			<!-- add item -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-item-modal">
	        Add Item
	      </button>

	      <div class="modal fade" id="add-item-modal" role="dialog" aria-labelledby="add-item-modal" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            {{> addItemForm }}
	          </div>
	        </div>
	      </div>

			{{> itemsPanel }}
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<!-- add item -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-contact-modal">
	        Add Contact
	      </button>

	      <div class="modal fade" id="add-contact-modal" role="dialog" aria-labelledby="add-contact-modal" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            {{> addContactForm }}
	          </div>
	        </div>
	      </div>

				{{> contactsPanel }}
			</div>
		</div>
	</div>

</template>

<template name="contactsPanel">
	<h5>Contacts</h5>
	{{#each contacts}}
		{{> contact}}
	{{/each}}
</template>

<template name="addContactForm">
	add contact
</template>

<template name="itemsPanel">
	<h5>Items</h5>
	{{#each items}}
		{{> safeboxItem}}
	{{/each}}
</template>

<template name="safeboxItem">
	{{ name }}
</template>

<template name="addItemForm">
	add item
</template>
