<template name="safeboxes">
	<h1>Safeboxes</h1>
	<button class="btn btn-lg btn-primary" id="create-safebox">Create a New Safebox</button>

	<div class="container-fluid">
	<h3>Current Safeboxes</h3>
		{{#if safeboxesCount }}
			{{#each safeboxes}}
				{{> safebox}}
			{{/each}}
		{{else}}
			<p>You have no safeboxes yet.</p>
		{{/if}}
	</div>

</template>

<template name="safebox">
	{{#if unlocked }}
		<div class="row safebox unlocked">
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ name }}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ description }}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ #each contacts }}
					{{> contact }}
				{{/each}}
			</div>
		</div>
	{{else}}
		<div class="row safebox locked">
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ name }}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ description }}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				{{ #each contacts }}
					{{> contact }}
				{{/each}}
			</div>
		</div>
	{{/if}}
</template>

