<template name="safeboxes">
	<h1>My Safeboxes</h1>
	{{> NewSafeboxForm }}

	{{#if safeboxes.length }}
		{{#each safeboxes}}
			{{> safebox}}
		{{/each}}
	{{else}}
		<p>You have no safeboxes yet.</p>
	{{/if}}
</template>

<template name="NewSafeboxForm">
	<h2>Create New Safebox</h2>

	{{#autoForm id="newSafeboxForm" type="insert" collection="Safeboxes"}}
	  {{> afQuickField name="name" placeholder="Ex: My Family Files" }}
	  {{> afQuickField name="unlocked" value="false" type="hidden" }}
	  {{> afQuickField name="items" options=itemOptions label="Items - IDs, Documents, Important Info"}}
	  {{> afQuickField name="description" placeholder="(optional) Description"}}
	  {{> afQuickField name="instructions" placeholder="(optional) Instructions and notes for recipients"}}
	  {{> afQuickField name="allowedGroups" options=groupOptions label="For Groups"}}
	  {{> afQuickField name="allowedContacts" options=contactOptions label="Plus Other Contacts (not in Groups)"}}
	  <div class="form-group">
	    <button type="submit" class="btn btn-primary">Submit</button>
	    <button type="reset" class="btn btn-default">Reset Form</button>
	  </div>
	{{/autoForm}}
</template>

<template name="safebox">

</template>
