<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <ul class="list-group">
      {{> IdItemForm}}
    </ul>

    <ul class="list-group">
      {{#each items}}
        {{> IdItem }}
      {{/each}}
    </ul>

  </div>
</template>

<template name="IdItem">
  <li class="list-group-item">{{ this.name }}</li>
  <li class="list-group-item">{{ this.location }}</li>
  {{#each files}}
    <div>
      <img src="{{this.url store='filesStore'}}" />
    </div>
  {{/each}}
</template>

<template name="IdItemForm">
  <h3>Vital IDs</h3>
  <p>(Passport, Drivers License, Social Security Card)</p>
    {{#autoForm id="IdItemForm" type="insert" collection="Items"}}
      {{> afQuickField name="type" value="id" type="hidden"}}
      {{> afQuickField name="name"}}
      {{> afQuickField name="location"}}
      {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
      <button type="submit">Submit</button>
    {{/autoForm}}
</template>
