<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    {{> items }}
  </div>
</template>

<template name="items">
    <h3>Vital IDs (Passport, Drivers License, Social Security Card)</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4">
            {{#if userHasItem "passport" }}
              {{#with passport}}
                {{> IdItem }}
              {{/with}}
            {{else}}
              {{> IdItemForm type="passport"}}
            {{/if}}
        </div>
      </div>
    </div>

  <hr>

  <h3>Vital Documents</h3>
  <div class="container-fluid">
    <div class="row">
      <p><a href="#doc-item-modal" rel="modal:open">Add New Document</a></p>
      <div class="modal" id="doc-item-modal" style="display:none;">
       {{> DocItemForm }}
      </div>
    </div>
    <div class="row">
      {{#each docTypes }}
        {{> DocItemRow }}
      {{/each }}
    </div>
  </div>

</template>
