<template name="dashboard">
	<h3>Dashboard</h3>
	<div class="center">
		{{> notifications }}

		<div class="container-fluid">
			<h5>Your Profiles</h5>
			{{> profilesDash }}
		</div>

		<div class="container-fluid">
			<h5>Your Contacts</h5>
			{{> contactsRow }}
		</div>
	</div>
</template>

<template name="notifications">
	<div class="row notifications">
		Great! You've successfully set up ICEPlans for {{ showFullNames profilesWithActions }}. Review and edit any details below.
	</div>
</template>

<template name="profilesDash">
	<ul class="group row">
		{{#each profiles }}
			<li class="card profile-card-wide">
				<div class="pull-left">{{ this.fullName }}</div>
				<div class="pull-right">
					Plans
				</div>
			</li>
		{{/each}}
	</ul>
</template>
