<template name="contacts">
	<div class="page-header">
	  <h3>My Contacts</h3>
	</div>

	{{> newContactForm }}

	<div class="row">
		<h3>My Groups</h3>
		{{> newGroupForm }}

		{{#each groups}}
			{{> group }}
		{{/each}}
	</div>
</template>

<template name="newContactForm">
	<h5>Add Contact</h5>

	{{#autoForm id="newContactForm" type="insert" collection="Contacts" }}
	  {{> afQuickField name="profile" }}
	  {{> afQuickField name="belongedSafeboxes" options=userSafeboxes }}
	  {{> afQuickField name="belongedGroups" options=userGroups }}

	  <div class="form-group">
	    <button type="submit" class="btn btn-primary">Submit</button>
	    <button type="reset" class="btn btn-default">Reset Form</button>
	  </div>

	{{/autoForm}}
</template>


<template name="contact">
	<li>{{ fullName }}</li>
</template>
